body {
    margin: 0 auto 10px;
    width: 500px;
    padding: 10px 20px 20px;
    font-size: 12px;
}

#actionContainer {
    font-size: 14px;
    text-align: center;
}

#actionContainer button {
    cursor: pointer;
}

.accent {
    color: #339eca;
}

tr td:first-child {
}

tr td:nth-child(2) {
    font-size: smaller;
    padding-left: 20px;
    color: #666;
}

label {
    padding-left: 4px;
}

#otherFeatures > div {
    margin-bottom: 4px;
}

#save-success {
    text-align: center;
    margin-top: -200px;
    transition: all 1s ease-in-out;
    background-color: #33ca5a;
    color: #fff;
    position: fixed;
    padding: 12px;
    top: 15px;
    right: 15px;
}

#thanks {
    text-align: center;
    margin: 30px 0 0;
}

td {
    vertical-align: top;
}
