@import '../scss/general';
@import '../scss/variables';

input[type="checkbox"] + label {
    padding-left: 4px;
}

#navigation-options {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 16px;

    .description {
        opacity: 0.7;
    }
}

#other-features {

    .feature {
        margin-bottom: 1em;
    }
}

#actions {
    padding: 1em 0;
}

#save-success {
    color: $success;
}
