$highlight-color: #2586fc;
$highlight-border-size: 3px;
$highlight-border: $highlight-border-size solid $highlight-color !important;

.activeSearchResultContainer {
    border-left: $highlight-border;
    transform: translate(-$highlight-border-size, 0) !important;

    a {
        outline: 0;
    }

    & > div {
        position: relative;
    }

    img {
        border-top: $highlight-border;
    }
}

div.g.activeSearchResultContainer, // Main results
.cUezCb.activeSearchResultContainer, // Advertisements
div.gs_r.activeSearchResultContainer {
    border-radius: 0;
    padding-left: 8px;
    margin-left: -11px;
    transform: none !important;
}

div[role="navigation"] table a:focus {
    text-decoration: underline;
}
