.activeSearchResultContainer {
    border-left: 3px solid #2586fc !important;
    transform: translate(-3px, 0) !important;

    a {
        outline: 0;
    }

    & > div {
        position: relative;
    }

    img {
        border-top: 3px solid #2586fc !important;
    }
}

div.g.activeSearchResultContainer, // Main results
.cUezCb.activeSearchResultContainer, // Advertisements
div.gs_r.activeSearchResultContainer {
    border-radius: 0;
    padding-left: 8px;
    margin-left: -11px;
    transform: none !important;
}

div[role="navigation"] table a:focus {
    text-decoration: underline;
}
